<div
  class="flex gap-2 border-b border-[#eaecf0] py-4 md:border-none md:py-0.5"
  [ngClass]="{ 'border-b border-[#eaecf0]': !isLastItem() }"
>
  <div class="grid grid-cols-2 gap-2 md:grid-cols-4 md:gap-0">
    @for (
      control of formConfig();
      track control.formControlName;
      let last = $last
    ) {
      <div class="flex flex-row gap-1 border-[#fff] md:border-l-2">
        <app-form-control-generator
          [control]="control"
          class="flex-1"
        ></app-form-control-generator>
        @if (last && !isMobile) {
          <ng-container *ngTemplateOutlet="removeButtonRef"></ng-container>
        }
      </div>
    }
  </div>
  @if (isMobile) {
    <ng-container *ngTemplateOutlet="removeButtonRef"></ng-container>
  }
</div>

<ng-template #removeButtonRef>
  @if (isShowDelete()) {
    <div
      (click)="onRemoved()"
      class="flex max-w-9 items-center justify-center rounded-br bg-[#FEF3F2] px-2 py-1"
    >
      @if (isRemoving()) {
        <ion-spinner class="spinner" name="crescent"></ion-spinner>
      } @else {
        <app-hes-icon
          class="flex h-[0.85rem] w-[0.85rem] cursor-pointer items-center justify-center md:h-6 md:w-6"
          iconClass="text-2xl"
          [hesIcon]="minuIcon"
        ></app-hes-icon>
      }
    </div>
  }
</ng-template>
