<ng-container *transloco="let t">
  <div
    class="mb-4 flex cursor-pointer items-center justify-between text-lg font-semibold text-[#272525]"
    (click)="onToggleCollapsed()"
  >
    {{ t("global.select_column.dropdown") }}
    <div class="cursor-pointer p-2" [class.rotate-180]="!isCollapsed()">
      <fa-icon class="cursor-pointer text-[#272525]" [icon]="angalDownIcon" />
    </div>
  </div>
  <div
    class="grid grid-cols-1 overflow-hidden md:grid-cols-2"
    [style.height]="isCollapsed() ? '0px' : 'auto'"
  >
    <ion-checkbox
      hesCheckbox
      [hesSize]="'sm'"
      labelPlacement="end"
      justify="start"
      class="px-3.5 py-2"
      [formControl]="selectAllCtrl"
      (ionChange)="selectAllColumns($event)"
      >{{ t("global.select_all.txt") }}</ion-checkbox
    >
    <app-hes-checkbox-group
      [ngModel]="columnsState$ | async"
      (ngModelChange)="updateSelectedColumns($event)"
      class="contents"
    >
      @for (item of tableConfig$ | async; track $index) {
        <ion-checkbox
          hesCheckbox
          [hesSize]="'sm'"
          labelPlacement="end"
          justify="start"
          class="px-3.5 py-2"
          [value]="item.value"
          >{{ item.displayedValue }}</ion-checkbox
        >
      }
    </app-hes-checkbox-group>
  </div>
</ng-container>
