.pending {
  color: #c4320a;
  background-color: #fff6ed;
}

.inProgress {
  color: #ecad01;
  background-color: #fffce7;
}

.missed {
  color: #b42318;
  background-color: #fef3f2;
}

.submitted {
  color: #027a48;
  background-color: #ecfdf3;
}
