<div
  class="flex w-full items-end justify-between rounded-lg border bg-white px-3 py-4 md:items-center md:gap-1 md:px-6 md:py-9"
>
  <div class="flex flex-grow items-start gap-3 md:items-center md:gap-6">
    <ion-skeleton-text
      [animated]="true"
      class="h-12 w-12 rounded-lg md:h-[4.5rem] md:w-[4.5rem]"
    ></ion-skeleton-text>

    <div
      class="flex flex-grow flex-col items-start justify-center gap-[0.62rem] md:flex-grow"
    >
      <ion-skeleton-text
        [animated]="true"
        class="h-5 w-full rounded-sm lg:w-[4.125rem]"
      ></ion-skeleton-text>
      <div class="flex justify-between">
        <div class="flex flex-grow flex-col flex-wrap md:flex-row md:gap-6">
          <ion-skeleton-text
            [animated]="true"
            class="h-5 w-[7.5rem] rounded-sm"
          ></ion-skeleton-text
          ><ion-skeleton-text
            [animated]="true"
            class="h-5 w-[7.5rem] rounded-sm"
          ></ion-skeleton-text>
        </div>
      </div>
    </div>
  </div>
  <div
    class="hidden items-center justify-end gap-2 md:flex md:flex-col md:flex-wrap"
  >
    <ion-skeleton-text
      [animated]="true"
      class="h-6 w-[4.5rem] rounded"
    ></ion-skeleton-text>
    <ion-skeleton-text
      [animated]="true"
      class="h-6 w-[4.5rem] rounded"
    ></ion-skeleton-text>
  </div>
</div>
