@if (!isMobile) {
  <ng-container *transloco="let t">
    <div class="flex w-full items-end p-4" [formGroup]="passwordFormGroup">
      <div class="flex w-full">
        <!-- Conditionally render currentPassword input -->
        @if (auth.user()?.type === UserType.STUDENT) {
          <div class="h-32 flex-1 p-1">
            <app-hes-input
              [type]="'password'"
              [label]="t('user_management.current_password.label')"
              [required]="true"
              fill="solid"
              formControlName="currentPassword"
              [autofocus]="true"
            ></app-hes-input>
          </div>
        }

        <div class="h-32 flex-1 p-1">
          <app-hes-input
            [type]="'password'"
            [label]="t('global.enter_new_password.label')"
            [required]="true"
            fill="solid"
            [helperText]="t('global.error_password.txt')"
            formControlName="password"
            [autofocus]="true"
          ></app-hes-input>
        </div>

        <div class="h-32 flex-1 p-1">
          <app-hes-input
            [type]="'password'"
            [label]="t('global.confirm_new_password.label')"
            [required]="true"
            fill="solid"
            [errorText]="errorText()"
            formControlName="confirmPassword"
            [autofocus]="true"
          ></app-hes-input>
        </div>

        <!--        placeholder div to maintain space on right and correct width-->
        @if (auth.user()?.type !== UserType.STUDENT) {
          <div class="h-32 flex-1 p-1"></div>
        }
      </div>
    </div>

    <div class="flex w-full items-end p-4">
      <div class="ml-auto flex items-center justify-end gap-6">
        <ion-button
          hesBtn
          hesSize="sm"
          [hesColor]="'link'"
          (click)="cancel()"
          >{{ t("global.cancel.btn") }}</ion-button
        >

        <ion-button
          hesBtn
          hesSize="sm"
          (click)="changePassword()"
          [disabled]="passwordFormGroup.invalid"
          >{{ t("global.update_password.btn") }}</ion-button
        >
      </div>
    </div>
  </ng-container>
} @else {
  <ng-container *transloco="let t">
    <div class="w-full items-end p-4" [formGroup]="passwordFormGroup">
      <div class="w-full">
        <div class="flex w-full items-center justify-between">
          <div class="Frame25063 flex flex-col items-start justify-start gap-1">
            <div
              class="Text text-base font-semibold leading-tight text-gray-900"
            >
              {{ t("global.national_id.title") }}
            </div>
            <div class="text-sm font-normal text-gray-500">
              {{ nationalId }}
            </div>
          </div>
        </div>

        <!-- Conditionally render currentPassword input -->
        @if (auth.user()?.type === UserType.STUDENT) {
          <div class="mt-2 p-0.5">
            <app-hes-input
              [type]="'password'"
              [label]="t('user_management.current_password.label')"
              [required]="true"
              fill="solid"
              formControlName="currentPassword"
              [autofocus]="true"
            ></app-hes-input>
          </div>
        }

        <div class="mt-2 p-0.5">
          <app-hes-input
            [type]="'password'"
            [label]="t('global.enter_new_password.label')"
            [required]="true"
            fill="solid"
            [helperText]="t('global.error_password.txt')"
            formControlName="password"
            [autofocus]="true"
          ></app-hes-input>
        </div>

        <div class="mt-2 p-0.5">
          <app-hes-input
            [type]="'password'"
            [label]="t('global.confirm_new_password.label')"
            [required]="true"
            fill="solid"
            [errorText]="errorText()"
            formControlName="confirmPassword"
            [autofocus]="true"
          ></app-hes-input>
        </div>
      </div>
    </div>

    <div class="flex w-full items-end p-4">
      <div class="ml-auto flex items-center justify-end gap-6">
        <ion-button
          hesBtn
          hesSize="sm"
          [hesColor]="'link'"
          (click)="cancel()"
          >{{ t("global.cancel.btn") }}</ion-button
        >

        <ion-button
          hesBtn
          hesSize="sm"
          (click)="changePassword()"
          [disabled]="passwordFormGroup.invalid"
          >{{ t("global.update_password.btn") }}</ion-button
        >
      </div>
    </div>
  </ng-container>
}
