<ion-content class="ds-page-content" *transloco="let t;">
  <div class="h-full p-2">
    <div
      class="hes-card flex h-full w-full flex-col items-start justify-start p-0"
    >
      <app-listing-header
        [title]="t('roles_permissions.roles_list.title')"
        [primaryBtnTitle]="t('roles_permissions.add_role.btn')"
        [primaryBtnPermissionId]="addRolePermissionId"
        [loading]="isLoading()"
        (onPrimaryBtnClick)="handleAddRoleClick()"
      ></app-listing-header>
      <app-hes-table
        [columns]="columnDefs"
        [rowData]="roleTableData()"
        [pagination]="paginate()"
        (filterSortModelChanged)="onTableMetaDataChange($event)"
        [autoSizeStrategy]="{type:'fitGridWidth'}"
        (rowClicked)="onRowClicked($event)"
        [loading]="isLoading()"
      ></app-hes-table>
    </div>
  </div>
</ion-content>
