@if (!isMobile) {
  <div class="flex h-4/5 w-4/5 items-center justify-between">
    <div
      class="absolute bottom-0 left-0 right-0 top-0 bg-[#000000] bg-opacity-90"
      (click)="onClose()"
    >
      <div
        class="absolute top-10 flex cursor-pointer text-2xl font-bold text-gray-400 ltr:right-10 rtl:left-10"
      >
        <app-hes-icon [faIcon]="closeIcon"></app-hes-icon>
      </div>
    </div>

    <div class="m-4 min-w-[55px]">
      @if (selectedDisplayImageIndex() > 0) {
        <ion-button class="z-10" (click)="onLeft()" shape="circle">
          <app-hes-icon slot="icon-only" [faIcon]="arrowLeft"></app-hes-icon>
        </ion-button>
      }
    </div>
    <img
      [src]="displayImage()"
      class="z-10 max-h-full max-w-full rounded object-contain"
      title="image slider"
    />
    <div class="m-4 min-w-[55px]">
      @if (selectedDisplayImageIndex() < imagesUrl.length - 1) {
        <ion-button class="z-10" (click)="onRight()" shape="circle">
          <app-hes-icon [faIcon]="arrowRight"></app-hes-icon>
        </ion-button>
      }
    </div>
  </div>
} @else {
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="onClose()">
          <app-hes-icon
            [faIcon]="angleLeft"
            class="transition-transform rtl:rotate-180"
          ></app-hes-icon>
        </ion-button>
      </ion-buttons>
      @if (selectedSingalImageIndex() !== null) {
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="onSave()">Save</ion-button>
        </ion-buttons>
      }
    </ion-toolbar>
  </ion-header>
  <ion-content
    fullscreen="true"
    [scrollY]="selectedSingalImageIndex() === null"
  >
    @if (selectedSingalImageIndex() === null) {
      <div class="flex flex-col gap-2">
        @for (image of imagesUrl; track image; let i = $index) {
          <div class="hes-card mx-2 p-0">
            <ion-img
              #imgElement
              [src]="image"
              (click)="onSelectImage(i)"
              class="h-full w-full object-cover"
              (ionImgDidLoad)="imageLoaded()"
            ></ion-img>
          </div>
        }
      </div>
    }
    @if (selectedSingalImageIndex() !== null) {
      <div
        class="fixed top-0 flex h-full w-full items-center justify-center bg-black-0 bg-opacity-90"
      >
        <swiper-container #swiper zoom="true">
          @for (image of imagesUrl; track image) {
            <swiper-slide>
              <div class="swiper-zoom-container">
                <img
                  [src]="image"
                  class="max-h-full max-w-full object-contain"
                  alt="image slider"
                />
              </div>
            </swiper-slide>
          }
        </swiper-container>
      </div>
    }
  </ion-content>
}
