<div
  *transloco="let t"
  class="flex flex-col gap-ds-xl"
  [ngClass]="{ 'min-h-[100dvh] px-ds-xl py-ds-2xl': isMobile }"
>
  @if (!isMobile) {
    <div class="flex items-center justify-between">
      <div class="flex flex-col gap-ds-md">
        <div class="heading-h4-high-emphasis text-emphasis-high">
          {{
            isEditMode()
              ? t("academic_year.edit_holiday")
              : t("academic_calendar.add_holiday")
          }}
        </div>
        <span class="single-line-caption-high-emphasis text-indigo-400">
          {{ academicYear()?.name }}
        </span>
      </div>
      <div (click)="onClose()" class="cursor-pointer">
        <app-ds-icon [icon]="'saxCloseCircleBold'" size="2xl" />
      </div>
    </div>
  }

  <div [ngClass]="{ 'flex flex-1 flex-col': isMobile }">
    <form
      [formGroup]="addHolidayForm"
      [ngClass]="{ 'flex h-full flex-col': isMobile }"
    >
      <div class="flex flex-col gap-ds-3xl" [ngClass]="{ 'flex-1': isMobile }">
        <div class="flex flex-col gap-ds-lg">
          <app-ds-select
            [config]="selectConfig"
            [formControl]="globalHolidayCtrl"
          />
          @if (showOthersInput()) {
            <app-ds-input
              [formControl]="holidayNameEnCtrl"
              label="{{ t('academic_year.add_holiday_name') }}"
              placeholder="{{ t('academic_year.add_name_here.txt') }}"
              class="bg-transparent p-0"
            />

            <app-ds-input
              [formControl]="holidayNameArCtrl"
              label="{{ t('academic_year.add_holiday_name_arabic.txt') }}"
              placeholder="{{ t('academic_year.add_name_here.txt') }}"
              class="bg-transparent p-0"
            />
          }
          <app-form-control-generator [control]="holidayDatesControl" />
        </div>
      </div>

      <div
        [ngClass]="{
          'mt-auto': isMobile,
          'mt-ds-xl flex justify-end': !isMobile,
          'sticky bottom-0 left-0 z-10 w-full': isMobile
        }"
      >
        <ds-button
          size="lg"
          [fullWidth]="isMobile"
          [disabled]="addHolidayForm.invalid"
          (click)="onSave()"
        >
          {{ t("global.save.btn") }}
        </ds-button>
      </div>
    </form>
  </div>
</div>
