/* feedback */
:root {
  /* Mode 1 */
  /* color */
  --f-stroke-exciting: var(--colors-indigo-400);
  --f-stroke-highlight-positive: var(--colors-emerald-800);
  --f-stroke-positive: var(--colors-emerald-600);
  --f-stroke-warn: var(--colors-warn-orange-600);
  --f-surface-highlight-positive: var(--colors-neutral-cool-black-08);
  --f-surface-positive: var(--colors-emerald-50);
  --f-surface-warn: var(--colors-warn-orange-50);
  --f-stroke-danger: var(--colors-error-red-600);
  --f-stroke-info: var(--colors-blue-600);
  --f-surface-danger: var(--colors-error-red-50);
  --f-surface-info: var(--colors-blue-50);
}
