/* primitives */
:root {
  /* Mode 1 */
  /* color */
  --colors-blue-100: #c0e6ff;
  --colors-blue-200: #95cefa;
  --colors-blue-300: #6abeff;
  --colors-blue-400: #4299f7;
  --colors-blue-50: #eff8ff;
  --colors-blue-500: #3093ff;
  --colors-blue-600: #046ddc;
  --colors-blue-700: #065cba;
  --colors-blue-800: #084c97;
  --colors-blue-900: #023165;
  --colors-blue-950: #031f3d;
  --colors-brand-100: #fff7dd;
  --colors-brand-200: #ffeebb;
  --colors-brand-300: #fee287;
  --colors-brand-35: #faf8f3;
  --colors-brand-40: #f4f1e7;
  --colors-brand-400: #fed965;
  --colors-brand-42: #e7e4dd;
  --colors-brand-45: #efeadb;
  --colors-brand-50: #fffbee;
  --colors-brand-500: #fed143;
  --colors-brand-600: #d2a61b;
  --colors-brand-700: #926f01;
  --colors-brand-800: #654f06;
  --colors-brand-900: #3d3007;
  --colors-brand-950: #2c2203;
  --colors-brown-100: #ded8d3;
  --colors-brown-200: #bdb1a7;
  --colors-brown-300: #9d897b;
  --colors-brown-400: #7c624f;
  --colors-brown-50: #efebe9;
  --colors-brown-500: #5b3b23;
  --colors-brown-600: #523520;
  --colors-brown-700: #402919;
  --colors-brown-800: #2e1e12;
  --colors-brown-900: #24180e;
  --colors-brown-950: #120c07;
  --colors-coral-100: #ffe5dd;
  --colors-coral-200: #ffd2c4;
  --colors-coral-300: #ffb399;
  --colors-coral-400: #ff8760;
  --colors-coral-50: #fff4f0;
  --colors-coral-500: #f7663e;
  --colors-coral-600: #d95128;
  --colors-coral-700: #b33e1e;
  --colors-coral-800: #8a2d15;
  --colors-coral-900: #601e0d;
  --colors-coral-950: #3d1308;
  --colors-cyan-100: #c8eff9;
  --colors-cyan-200: #aae6f6;
  --colors-cyan-300: #88def2;
  --colors-cyan-400: #5fd6ef;
  --colors-cyan-50: #e4f7fc;
  --colors-cyan-500: #01cdec;
  --colors-cyan-600: #1ba8c0;
  --colors-cyan-700: #218497;
  --colors-cyan-800: #21616f;
  --colors-cyan-900: #1c4149;
  --colors-cyan-950: #142327;
  --colors-emerald-100: #c7fbd4;
  --colors-emerald-200: #a9f8be;
  --colors-emerald-300: #87f4a9;
  --colors-emerald-400: #5ef094;
  --colors-emerald-50: #e4fde9;
  --colors-emerald-500: #18aa5c;
  --colors-emerald-600: #0f7b3d;
  --colors-emerald-700: #0a7136;
  --colors-emerald-800: #085e29;
  --colors-emerald-900: #07411b;
  --colors-emerald-950: #03290d;
  --colors-error-red-100: #ffbaaa;
  --colors-error-red-200: #ff9881;
  --colors-error-red-300: #ff7c59;
  --colors-error-red-400: #f85632;
  --colors-error-red-50: #fef3f2;
  --colors-error-red-500: #ec2001;
  --colors-error-red-600: #c22207;
  --colors-error-red-700: #99210b;
  --colors-error-red-800: #721e0c;
  --colors-error-red-900: #4d180a;
  --colors-error-red-950: #2b0b06;
  --colors-green-100: #e4fbba;
  --colors-green-200: #d6f898;
  --colors-green-300: #c8f574;
  --colors-green-400: #b7f14b;
  --colors-green-50: #f2fddd;
  --colors-green-500: #93d518;
  --colors-green-600: #84c112;
  --colors-green-700: #6a9717;
  --colors-green-800: #516f18;
  --colors-green-900: #374a15;
  --colors-green-950: #1f270f;
  --colors-indigo-100: #d3b3fb;
  --colors-indigo-200: #ba8df8;
  --colors-indigo-300: #9d67f5;
  --colors-indigo-400: #7c3ff1;
  --colors-indigo-50: #ead9fe;
  --colors-indigo-500: #662dd7;
  --colors-indigo-600: #5822bd;
  --colors-indigo-700: #3e1790;
  --colors-indigo-800: #31126f;
  --colors-indigo-900: #25114a;
  --colors-indigo-950: #190c27;
  --colors-magenta-100: #fad6ee;
  --colors-magenta-200: #f9b4e2;
  --colors-magenta-300: #f782d0;
  --colors-magenta-400: #f84fbf;
  --colors-magenta-50: #fcedf7;
  --colors-magenta-500: #f812ab;
  --colors-magenta-600: #cb0b8b;
  --colors-magenta-700: #980b69;
  --colors-magenta-800: #640c47;
  --colors-magenta-900: #380b29;
  --colors-magenta-950: #1c0815;
  --colors-pastels-blue-100: #e8f1f7;
  --colors-pastels-blue-150: #e0ebf4;
  --colors-pastels-blue-200: #d8e7f2;
  --colors-pastels-blue-250: #d1e2ef;
  --colors-pastels-blue-400: #23608e;
  --colors-pastels-blue-50: #f3f8fb;
  --colors-pastels-brand-100: #f7f3e8;
  --colors-pastels-brand-150: #f4f0e0;
  --colors-pastels-brand-200: #f2ecd8;
  --colors-pastels-brand-250: #efe8d1;
  --colors-pastels-brand-400: #8e7523;
  --colors-pastels-brand-50: #fbf9f3;
  --colors-pastels-brown-100: #f4efeb;
  --colors-pastels-brown-150: #f0eae4;
  --colors-pastels-brown-200: #ede5dd;
  --colors-pastels-brown-250: #e9e0d7;
  --colors-pastels-brown-400: #5b3b23;
  --colors-pastels-brown-50: #f9f7f5;
  --colors-pastels-coral-100: #f7ece8;
  --colors-pastels-coral-150: #f4e5e0;
  --colors-pastels-coral-200: #f2dfd8;
  --colors-pastels-coral-250: #efd9d1;
  --colors-pastels-coral-400: #8e4023;
  --colors-pastels-coral-50: #fbf5f3;
  --colors-pastels-cyan-100: #e8f4f7;
  --colors-pastels-cyan-150: #e0f0f4;
  --colors-pastels-cyan-200: #d8edf2;
  --colors-pastels-cyan-250: #d1e9ef;
  --colors-pastels-cyan-400: #23798e;
  --colors-pastels-cyan-50: #f3f9fb;
  --colors-pastels-emerald-100: #e8f7f0;
  --colors-pastels-emerald-150: #e0f4eb;
  --colors-pastels-emerald-200: #d8f2e6;
  --colors-pastels-emerald-250: #d1efe1;
  --colors-pastels-emerald-400: #238e5c;
  --colors-pastels-emerald-50: #f3fbf7;
  --colors-pastels-error-red-100: #f7eae8;
  --colors-pastels-error-red-150: #f4e3e0;
  --colors-pastels-error-red-200: #f2dcd8;
  --colors-pastels-error-red-250: #efd5d1;
  --colors-pastels-error-red-400: #8e2323;
  --colors-pastels-error-red-50: #fbf4f3;
  --colors-pastels-green-100: #e8f7e8;
  --colors-pastels-green-150: #e0f4e0;
  --colors-pastels-green-200: #d8f2d8;
  --colors-pastels-green-250: #d1efd1;
  --colors-pastels-green-400: #238e23;
  --colors-pastels-green-50: #f3fbf3;
  --colors-pastels-indigo-100: #ede8f7;
  --colors-pastels-indigo-150: #e7e0f4;
  --colors-pastels-indigo-200: #e1d8f2;
  --colors-pastels-indigo-250: #dbd1ef;
  --colors-pastels-indigo-400: #47238e;
  --colors-pastels-indigo-50: #f6f3fb;
  --colors-pastels-magenta-100: #f7e8ef;
  --colors-pastels-magenta-150: #f4e0ea;
  --colors-pastels-magenta-200: #f2d8e5;
  --colors-pastels-magenta-250: #efd1e0;
  --colors-pastels-magenta-400: #8e236a;
  --colors-pastels-magenta-50: #fbf3f7;
  --colors-pastels-neutral-gray-100: #efefef;
  --colors-pastels-neutral-gray-150: #eaeaea;
  --colors-pastels-neutral-gray-200: #e5e5e5;
  --colors-pastels-neutral-gray-250: #e0e0e0;
  --colors-pastels-neutral-gray-400: #595959;
  --colors-pastels-neutral-gray-50: #f7f7f7;
  --colors-pastels-pink-100: #f7e8ed;
  --colors-pastels-pink-150: #f4e0e7;
  --colors-pastels-pink-200: #f2d8e1;
  --colors-pastels-pink-250: #efd1db;
  --colors-pastels-pink-400: #8e234a;
  --colors-pastels-pink-50: #fbf3f6;
  --colors-pastels-purple-100: #f6e8f7;
  --colors-pastels-purple-150: #f3e0f4;
  --colors-pastels-purple-200: #f0d8f2;
  --colors-pastels-purple-250: #edd1ef;
  --colors-pastels-purple-400: #73238e;
  --colors-pastels-purple-50: #faf3fb;
  --colors-pastels-teal-100: #e8f7f7;
  --colors-pastels-teal-150: #e0f4f4;
  --colors-pastels-teal-200: #d8f2f2;
  --colors-pastels-teal-250: #d1efef;
  --colors-pastels-teal-400: #238e8e;
  --colors-pastels-teal-50: #f3fbfb;
  --colors-pastels-warn-orange-100: #f7eee8;
  --colors-pastels-warn-orange-150: #f4e8e0;
  --colors-pastels-warn-orange-200: #f2e3d8;
  --colors-pastels-warn-orange-250: #efddd1;
  --colors-pastels-warn-orange-400: #8e4723;
  --colors-pastels-warn-orange-50: #fbf6f3;
  --colors-pastels-yellow-100: #f7f7e8;
  --colors-pastels-yellow-150: #f4f4e0;
  --colors-pastels-yellow-200: #f2f2d8;
  --colors-pastels-yellow-250: #efefd1;
  --colors-pastels-yellow-400: #8e8a23;
  --colors-pastels-yellow-50: #fbfbf3;
  --colors-pink-100: #ffbecc;
  --colors-pink-200: #ff9db4;
  --colors-pink-300: #fb7a9c;
  --colors-pink-400: #f55185;
  --colors-pink-50: #ffdfe5;
  --colors-pink-500: #ec016f;
  --colors-pink-600: #c1155c;
  --colors-pink-700: #981a49;
  --colors-pink-800: #711a38;
  --colors-pink-900: #4c1727;
  --colors-pink-950: #291117;
  --colors-purple-100: #fac0fa;
  --colors-purple-200: #f59ff7;
  --colors-purple-300: #ee7cf4;
  --colors-purple-400: #e654f0;
  --colors-purple-50: #fde0fd;
  --colors-purple-500: #dc01ec;
  --colors-purple-600: #b416c0;
  --colors-purple-700: #8e1b97;
  --colors-purple-800: #691b6f;
  --colors-purple-900: #47184a;
  --colors-purple-950: #261227;
  --colors-teal-100: #cfffff;
  --colors-teal-200: #a6f8f8;
  --colors-teal-300: #7df1f1;
  --colors-teal-400: #52ecec;
  --colors-teal-50: #e7ffff;
  --colors-teal-500: #3eeeee;
  --colors-teal-600: #0cd4d4;
  --colors-teal-700: #00a0a0;
  --colors-teal-800: #006c6c;
  --colors-teal-900: #033333;
  --colors-teal-950: #021a1a;
  --colors-warn-orange-100: #ffe2bf;
  --colors-warn-orange-200: #ffd19a;
  --colors-warn-orange-300: #ffc57e;
  --colors-warn-orange-400: #ffa73b;
  --colors-warn-orange-50: #fdf0e0;
  --colors-warn-orange-500: #fd8f08;
  --colors-warn-orange-600: #b36200;
  --colors-warn-orange-700: #a05800;
  --colors-warn-orange-800: #7d4500;
  --colors-warn-orange-900: #683900;
  --colors-warn-orange-950: #321c00;
  --colors-yellow-100: #fbfbd6;
  --colors-yellow-200: #f7f7ae;
  --colors-yellow-300: #f4f485;
  --colors-yellow-400: #f0f05d;
  --colors-yellow-50: #fdfdeb;
  --colors-yellow-500: #ecec34;
  --colors-yellow-600: #d4d42f;
  --colors-yellow-700: #a5a525;
  --colors-yellow-800: #76761a;
  --colors-yellow-900: #5e5e15;
  --colors-yellow-950: #2f2f0a;
  --colors-neutral-cool-100: #e5e6e7;
  --colors-neutral-cool-200: #ccced0;
  --colors-neutral-cool-300: #b2b5b8;
  --colors-neutral-cool-400: #999da1;
  --colors-neutral-cool-50: #f2f3f3;
  --colors-neutral-cool-500: #808489;
  --colors-neutral-cool-600: #727688;
  --colors-neutral-cool-700: #4d545a;
  --colors-neutral-cool-800: #333b42;
  --colors-neutral-cool-900: #1a232b;
  --colors-neutral-cool-black: #131517;
  --colors-neutral-cool-black-04: #1315170a;
  --colors-neutral-cool-black-08: #13151714;
  --colors-neutral-cool-black-12: #1315171f;
  --colors-neutral-cool-black-16: #13151729;
  --colors-neutral-cool-black-20: #13151733;
  --colors-neutral-cool-black-30: #1315174d;
  --colors-neutral-cool-black-40: #13151766;
  --colors-neutral-cool-black-50: #13151780;
  --colors-neutral-cool-black-60: #13151799;
  --colors-neutral-cool-black-70: #131517b2;
  --colors-neutral-cool-black-80: #131517cc;
  --colors-neutral-cool-white-10: #ffffff1a;
  --colors-neutral-cool-white-100: #ffffff;
  --colors-neutral-cool-white-20: #ffffff33;
  --colors-neutral-cool-white-30: #ffffff4d;
  --colors-neutral-cool-white-40: #ffffff66;
  --colors-neutral-cool-white-50: #ffffff80;
  --colors-neutral-cool-white-60: #ffffff99;
  --colors-neutral-cool-white-70: #ffffffb2;
  --colors-neutral-cool-white-80: #ffffffcc;
  --colors-neutral-cool-white-90: #ffffffe5;
  --colors-neutral-cool-white-96: #fffffff5;
  --colors-neutral-warm-100: #e7e7e5;
  --colors-neutral-warm-200: #d0cfcc;
  --colors-neutral-warm-300: #b8b8b2;
  --colors-neutral-warm-400: #a1a099;
  --colors-neutral-warm-50: #f3f3f2;
  --colors-neutral-warm-500: #898880;
  --colors-neutral-warm-600: #5a584d;
  --colors-neutral-warm-700: #424133;
  --colors-neutral-warm-800: #2b291a;
  --colors-neutral-warm-900: #1f1d0d;
  --colors-neutral-warm-black: #0e0e0e;
  --colors-neutral-warm-white: #ffffff;
  /* number */
  --size-px-0: 0px;
  --size-px-1: 1px;
  --size-px-2: 2px;
  --size-px-3: 3px;
  --size-px-4: 4px;
  --size-px-5: 5px;
  --size-px-6: 6px;
  --size-px-7: 7px;
  --size-px-8: 8px;
  --size-px-9: 9px;
  --size-px-10: 10px;
  --size-px-11: 11px;
  --size-px-12: 12px;
  --size-px-13: 13px;
  --size-px-14: 14px;
  --size-px-15: 15px;
  --size-px-16: 16px;
  --size-px-18: 18px;
  --size-px-20: 20px;
  --size-px-22: 22px;
  --size-px-24: 24px;
  --size-px-26: 26px;
  --size-px-28: 28px;
  --size-px-32: 32px;
  --size-px-36: 36px;
  --size-px-40: 40px;
  --size-px-44: 44px;
  --size-px-48: 48px;
  --size-px-52: 52px;
  --size-px-56: 56px;
  --size-px-60: 60px;
  --size-px-64: 64px;
  --size-px-72: 72px;
  --size-px-80: 80px;
  --size-px-96: 96px;
  --size-px-120: 120px;
  --size-px-160: 160px;
  --tailwind-text-xs: 12px;
  --tailwind-text-sm: 14px;
  --tailwind-text-base: 16px;
  --tailwind-text-lg: 18px;
  --tailwind-text-xl: 20px;
  --tailwind-text-2xl: 22px;
  --tailwind-text-3xl: 24px;
  --tailwind-text-4xl: 32px;
  --tailwind-text-5xl: 36px;
  --tailwind-text-6xl: 40px;
  --tailwind-text-7xl: 44px;
  --tailwind-text-8xl: 48px;
  --tailwind-text-9xl: 56px;
}
