/* semantic */
:root {
  /* Mode 1 */
  /* color */
  --content-action: var(--colors-brand-700);
  --content-error: var(--colors-error-red-600);
  --content-high-emphasis: var(--colors-neutral-cool-black);
  --content-high-emphasis-inverse: var(--colors-neutral-cool-white-100);
  --content-information: var(--colors-indigo-600);
  --content-low-emphasis: var(--colors-neutral-cool-300);
  --content-low-emphasis-inverse: var(--colors-neutral-cool-white-50);
  --content-mid-emphasis: var(--colors-neutral-cool-600);
  --content-mid-emphasis-inverse: var(--colors-neutral-cool-white-70);
  --content-success: var(--colors-emerald-600);
  --content-warning: var(--colors-warn-orange-700);
  --icon-action: var(--colors-brand-500);
  --icon-error: var(--colors-error-red-500);
  --icon-high-emphasis: var(--colors-neutral-cool-800);
  --icon-high-emphasis-invert: var(--colors-neutral-cool-white-100);
  --icon-information: var(--colors-indigo-400);
  --icon-low-emphasis: var(--colors-neutral-cool-200);
  --icon-low-emphasis-invert: var(--colors-neutral-cool-white-50);
  --icon-mid-emphasis: var(--colors-neutral-cool-500);
  --icon-mid-emphasis-invert: var(--colors-neutral-cool-white-70);
  --icon-success: var(--colors-emerald-500);
  --icon-warning: var(--colors-warn-orange-500);
  --stroke-color-black-04: var(--colors-neutral-cool-black-04);
  --stroke-color-black-08: var(--colors-neutral-cool-black-08);
  --stroke-color-black-12: var(--colors-neutral-cool-black-12);
  --stroke-color-brand-default: var(--colors-brand-600);
  --stroke-color-brand-light: var(--colors-brand-300);
  --stroke-color-brand-strong: var(--colors-brand-700);
  --stroke-color-brand-subtle: var(--colors-brand-50);
  --stroke-color-dark: var(--colors-neutral-cool-700);
  --stroke-color-error-default: var(--colors-error-red-400);
  --stroke-color-error-light: var(--colors-error-red-300);
  --stroke-color-error-strong: var(--colors-error-red-600);
  --stroke-color-error-subtle: var(--colors-error-red-50);
  --stroke-color-high-emphasis: var(--colors-neutral-cool-200);
  --stroke-color-low-emphasis: var(--colors-neutral-cool-50);
  --stroke-color-mid-emphasis: var(--colors-neutral-cool-100);
  --stroke-color-on-page-color: var(--colors-brand-42);
  --stroke-color-orange-default: var(--colors-warn-orange-400);
  --stroke-color-orange-light: var(--colors-warn-orange-300);
  --stroke-color-orange-strong: var(--colors-warn-orange-500);
  --stroke-color-orange-subtle: var(--colors-warn-orange-50);
  --stroke-color-success-default: var(--colors-emerald-300);
  --stroke-color-success-light: var(--colors-emerald-100);
  --stroke-color-success-strong: var(--colors-emerald-500);
  --stroke-color-success-subtle: var(--colors-pastels-green-100);
  --surface-0n-notification-badge: var(--colors-neutral-cool-white-100);
  --surface-action: var(--colors-brand-500);
  --surface-action-hover: var(--colors-brand-400);
  --surface-brand-default: var(--colors-brand-500);
  --surface-brand-strong: var(--colors-brand-600);
  --surface-brand-subtle: var(--colors-brand-100);
  --surface-brand-surface-hover: var(--colors-brand-300);
  --surface-brand-surface-light: var(--colors-brand-200);
  --surface-contrast-over-color-lv0: var(--colors-neutral-cool-black-04);
  --surface-contrast-over-color-lvl1: var(--colors-neutral-cool-black-12);
  --surface-contrast-over-color-lvl2: var(--colors-neutral-cool-black-20);
  --surface-contrast-over-color-lvl3: var(--colors-neutral-cool-black-40);
  --surface-contrast-over-color-lvl4: var(--colors-neutral-cool-black-60);
  --surface-danger: var(--colors-error-red-400);
  --surface-danger-light: var(--colors-error-red-200);
  --surface-danger-subtle: var(--colors-error-red-50);
  --surface-hover: var(--colors-neutral-cool-black-12);
  --surface-info: var(--colors-indigo-400);
  --surface-info-light: var(--colors-indigo-100);
  --surface-info-subtle: var(--colors-indigo-50);
  --surface-notification-badge: var(--colors-error-red-600);
  --surface-on-notification-badge: var(--colors-neutral-cool-white-100);
  --surface-orange-subtle: var(--colors-warn-orange-50);
  --surface-page: var(--colors-brand-35);
  --surface-primary: var(--colors-neutral-warm-white);
  --surface-secondary: var(--colors-neutral-cool-50);
  --surface-secondary-light: var(--colors-pastels-neutral-gray-50);
  --surface-success: var(--colors-emerald-500);
  --surface-success-light: var(--colors-emerald-300);
  --surface-success-subtle: var(--colors-pastels-green-50);
  --surface-warning: var(--colors-warn-orange-400);
  --surface-warning-default: var(--colors-warn-orange-400);
  --surface-warning-light: var(--colors-warn-orange-200);
  --surface-warning-strong: var(--colors-warn-orange-500);
  --surface-pastel-background-blue: var(--colors-pastels-blue-50);
  --surface-pastel-background-blue-rich: var(--colors-pastels-blue-200);
  --surface-pastel-background-brand: var(--colors-pastels-brand-50);
  --surface-pastel-background-brand-rich: var(--colors-pastels-brand-200);
  --surface-pastel-background-brown: var(--colors-pastels-brown-50);
  --surface-pastel-background-brown-rich: var(--colors-pastels-brown-200);
  --surface-pastel-background-coral: var(--colors-pastels-coral-50);
  --surface-pastel-background-coral-rich: var(--colors-pastels-coral-200);
  --surface-pastel-background-cyan: var(--colors-pastels-cyan-50);
  --surface-pastel-background-cyan-rich: var(--colors-pastels-cyan-200);
  --surface-pastel-background-emerald: var(--colors-pastels-emerald-50);
  --surface-pastel-background-emerald-rich: var(--colors-pastels-emerald-200);
  --surface-pastel-background-gray: var(--colors-pastels-neutral-gray-50);
  --surface-pastel-background-gray-rich: var(--colors-pastels-neutral-gray-150);
  --surface-pastel-background-green: var(--colors-pastels-green-50);
  --surface-pastel-background-green-rich: var(--colors-pastels-green-200);
  --surface-pastel-background-indigo: var(--colors-pastels-indigo-50);
  --surface-pastel-background-indigo-rich: var(--colors-pastels-indigo-200);
  --surface-pastel-background-magenta: var(--colors-pastels-magenta-50);
  --surface-pastel-background-magenta-rich: var(--colors-pastels-magenta-200);
  --surface-pastel-background-orange: var(--colors-pastels-warn-orange-50);
  --surface-pastel-background-orange-rich: var(
    --colors-pastels-warn-orange-200
  );
  --surface-pastel-background-pink: var(--colors-pastels-pink-50);
  --surface-pastel-background-pink-rich: var(--colors-pastels-pink-200);
  --surface-pastel-background-purple: var(--colors-pastels-purple-50);
  --surface-pastel-background-purple-rich: var(--colors-pastels-purple-150);
  --surface-pastel-background-red: var(--colors-pastels-error-red-50);
  --surface-pastel-background-red-rich: var(--colors-pastels-error-red-200);
  --surface-pastel-background-teal: var(--colors-pastels-teal-50);
  --surface-pastel-background-teal-rich: var(--colors-pastels-teal-200);
  --surface-pastel-background-yellow: var(--colors-pastels-yellow-150);
  --surface-pastel-background-yellow-rich: var(--colors-pastels-yellow-50);
  --surface-pastel-foreground-blue: var(--colors-pastels-blue-400);
  --surface-pastel-foreground-blue-rich: var(--colors-pastels-blue-400);
  --surface-pastel-foreground-brand: var(--colors-pastels-brand-400);
  --surface-pastel-foreground-brand-rich: var(--colors-pastels-brand-400);
  --surface-pastel-foreground-brown: var(--colors-pastels-brown-400);
  --surface-pastel-foreground-brown-rich: var(--colors-pastels-brown-400);
  --surface-pastel-foreground-coral: var(--colors-pastels-coral-400);
  --surface-pastel-foreground-cyan: var(--colors-pastels-cyan-400);
  --surface-pastel-foreground-emerald: var(--colors-pastels-emerald-400);
  --surface-pastel-foreground-emerald-rich: var(--colors-pastels-emerald-400);
  --surface-pastel-foreground-gray: var(--colors-pastels-neutral-gray-400);
  --surface-pastel-foreground-gray-soft: var(--colors-pastels-neutral-gray-400);
  --surface-pastel-foreground-green: var(--colors-pastels-green-400);
  --surface-pastel-foreground-green-rich: var(--colors-pastels-green-400);
  --surface-pastel-foreground-indigo: var(--colors-pastels-indigo-400);
  --surface-pastel-foreground-magenta: var(--colors-pastels-magenta-400);
  --surface-pastel-foreground-magenta-rich: var(--colors-pastels-magenta-400);
  --surface-pastel-foreground-orange: var(--colors-pastels-warn-orange-400);
  --surface-pastel-foreground-orange-rich: var(
    --colors-pastels-warn-orange-400
  );
  --surface-pastel-foreground-pink: var(--colors-pastels-pink-400);
  --surface-pastel-foreground-pink-rich: var(--colors-pastels-pink-400);
  --surface-pastel-foreground-pink-soft: var(--colors-pastels-pink-400);
  --surface-pastel-foreground-purple: var(--colors-pastels-purple-400);
  --surface-pastel-foreground-red: var(--colors-pastels-error-red-400);
  --surface-pastel-foreground-red-rich: var(--colors-pastels-error-red-400);
  --surface-pastel-foreground-teal: var(--colors-pastels-teal-400);
  --surface-pastel-foreground-teal-rich: var(--colors-pastels-teal-400);
  --surface-pastel-foreground-yellow: var(--colors-pastels-yellow-400);
}
