.timer {
  color: #f00000;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 100% */
  letter-spacing: 0.125rem;
}

.finish-txt {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
