@if(contentLoading()){
<app-course-detail-skeleton />
}@else {
<ng-container *transloco="let t">
  <ion-content class="ds-page-content">
    <div class="max-h-screen px-4 py-4">
      @if (courseDetailVm(); as vm) {
      <!-- Basic course card  -->
      <div
        class="flex items-center gap-5 overflow-hidden rounded-ds-lg border-2 border-stroke-black-08 bg-surface-pastel-background-blue"
      >
        <div
          class="flex items-center justify-center bg-white/60 px-ds-sm py-ds-xl"
        >
          <img
            [src]="vm.attachmentUrl"
            class="h-[72px] w-[72px] object-contain"
          />
        </div>
        <div class="flex flex-1 flex-col gap-ds-sm px-ds-xl">
          <div class="single-line-lg-high-emphasis text-emphasis-high">
            {{ vm.subjectName }}
          </div>
          <div class="single-line-xs-mid-emphasis text-emphasis-high">
            {{ vm.weeksCompletionPercentage }}% {{t('enum.COMPLETED')}}
          </div>
          <div>
            <app-ds-progress-bar
              [progress]="vm.weeksCompletionPercentage"
              [showPercentage]="false"
              [variant]="'blue'"
              class="cursor-pointer"
            ></app-ds-progress-bar>
          </div>
          <div class="single-line-xs-mid-emphasis text-emphasis-mid">
            {{t('todo_with_count.text', { pending: vm.todoCount, missed:
            vm.missedCount })}}
          </div>
        </div>
      </div>
      <!-- Teacher and level info -->
      <div class="flex flex-col gap-2 py-3">
        @if (vm.personnels) {
        <div class="content-sm-high-emphasis text-emphasis-mid">
          {{t('by_personnel.name',{personnelName: vm.personnels})}}
        </div>
        } @if (vm.levelName || vm.className) {
        <div class="flex items-center gap-1">
          @if (vm.levelName) {
          <app-ds-chip
            variant="none"
            customClasses="bg-[var(--surface-pastel-background-indigo)] border-[var(--stroke-color-black-08)]"
            >{{ vm.levelName }}</app-ds-chip
          >
          } @if (vm.className) {
          <app-ds-chip
            variant="none"
            customClasses="bg-[var(--surface-pastel-background-red)] border-[var(--stroke-color-black-08)]"
            >{{ vm.className }}</app-ds-chip
          >
          }
        </div>
        }
      </div>
      <!-- Course Detail -->
      <div class="mt-ds-xl flex flex-col gap-2">
        <div class="single-line-lg-high-emphasis text-emphasis-high">
          {{ t('all_topics.title') }}
        </div>
        <div
          class="content-sm-mid-emphasis flex items-center gap-2 text-emphasis-mid"
          (click)="onSemesterDialogOpen()"
        >
          {{t('global.semester.title')}} {{vm.semesterName}}
          <span class="ms-2"> {{vm.academicYearName}} </span>
          @if(vm.isAllowSemesterChange){
          <div
            class="flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-full bg-icon-action p-1 text-emphasis-high rtl:rotate-180"
          >
            <app-ds-icon [icon]="faChevronRight" size="16px" />
          </div>
          }
        </div>
      </div>
      <!-- Progress Items -->
      @if(courseDetail(); as detail) {
      <app-work-overview
        [courseDetail]="detail"
        [jumpToWeekConfig]="onJumpToWeek"
      >
      </app-work-overview>
      }
      <!-- weekly detail -->
      @if(courseDetail(); as courseDetail) {
      <div class="mt-10 min-h-40">
        <app-course-weekly-detail
          [courseDetail]="courseDetail"
          [jumpToWeekConfig]="jumpToWeekConfig()"
          [scopeParams]="weeklyScopeParams()"
          (reloadOverAllDetail)="silentlyFetchCourseContents()"
        ></app-course-weekly-detail>
      </div>
      } @if (vm?.isPlaceholder) {
      <div class="mt-4 flex w-full items-center justify-center">
        <app-ds-icon icon="ds-no-data" size="100%" />
      </div>
      } }
    </div>
  </ion-content>
</ng-container>
}
