# Common
APP_VERSION=1.15.4
APP_BUILD_NUMBER=16
SLACK_URL=""

# Android
JAVA_HOME=/Users/sandip/Library/Java/JavaVirtualMachines/corretto-17.0.13/Contents/Home
S3_BUCKET=development-nx-fe-bucket
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-central-1

# IOS
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_ISSUER_ID=
APPLE_SIGNING_KEY_PASSWORD=hessa
CURRENT_DIR=$(pwd)
