<!-- Only for calendar summary: fixes padding on ≤360px screens -->
<ion-content class="page-content">
  <div
    class="flex justify-center overflow-auto bg-[var(--colors-brand-35)] p-4 pb-24 md:mb-4 md:pb-4 md:ps-6 [@media(max-width:360px)]:px-2"
    cdkScrollable
  >
    <ds-attendance-calendar
      [month]="effectiveMonth()"
      [year]="effectiveYear()"
      [config]="attendanceConfig()!"
      [minMonth]="academicYearMinMonth()"
      [maxMonth]="academicYearMaxMonth()"
      (monthChange)="onCalendarMonthChange($event)"
      (calendarReady)="onCalendarReady($event)"
      [local]="local"
    />
  </div>
</ion-content>
