<div class="flex h-full flex-col py-5" *transloco="let t">
  <div class="mb-6 flex flex-1 flex-col gap-5 p-2">
    <app-ds-input
      dsType="text"
      [label]="t('global.first_name.label')"
      [formControl]="nameCtrl"
    ></app-ds-input>

    <!-- Name Display Cards -->
    <div class="flex flex-col gap-3">
      <!-- Official Name -->
      <div class="rounded-xl bg-pastels-indigo-200 p-4">
        <div class="mb-2 flex items-center justify-between">
          <span class="text-xs font-semibold text-emphasis-mid">{{
            t("login.your_official_name.label")
          }}</span>
        </div>
        <div
          class="flex min-h-[24px] items-center text-base font-semibold text-emphasis-high"
        >
          {{ officialName() }}
        </div>
      </div>

      <!-- Public Display Name -->
      <div class="rounded-xl border-2 bg-pastels-green-200 p-4">
        <div class="mb-2 flex items-center justify-between">
          <span class="text-xs font-semibold text-emphasis-mid">{{
            "login.everyone_see.txt" | transloco
          }}</span>
        </div>
        <div
          class="flex min-h-[24px] items-center text-base font-semibold text-emphasis-high"
        >
          {{ firstName() }}
        </div>
      </div>
    </div>
  </div>
</div>
