<ion-content *transloco="let t;">
  <div
    class="hes-card flex h-full w-full flex-col items-start justify-start p-0"
  >
    <app-listing-header
      [title]="t('academic_enrollment.academic_years_semesters.title')"
      [primaryBtnTitle]="t('academic_enrollment.add_academic_year.btn')"
      [primaryBtnPermissionId]="academicCreatePermission"
      (onPrimaryBtnClick)="onCreateAcademicYear()"
      [loading]="isLoading()"
    ></app-listing-header>
    <app-hes-table
      [columns]="columnDefs"
      [rowData]="academicYearTableData()"
      [pagination]="paginate()"
      (filterSortModelChanged)="onTableMetaDataChange($event)"
      [autoSizeStrategy]="autoSizeStrategy"
      (rowClicked)="onRowClicked($event)"
      [suppressRowClickonColDefs]="['semesters']"
      [noRowsOverlayComponentParams]="noRowsOverlayComponentParams()"
      [loading]="isLoading()"
    ></app-hes-table>
  </div>
</ion-content>
