<div *transloco="let t" class="flex flex-col justify-start gap-4">
  <div class="mb-3 flex justify-between border-b pb-4">
    <div class="text-xl font-semibold text-gray-900">
      {{
        isView()
          ? t("global.semester.title")
          : semesterId()
            ? t("academic_enrolment.edit_semester.title")
            : t("academic_enrolment.add_semester.title")
      }}
    </div>
    <fa-icon
      class="mt-1 cursor-pointer text-[#929CB5] hover:text-[#0000008a]"
      [icon]="faClose"
      size="xl"
      (click)="closeModal()"
    ></fa-icon>
  </div>
  @if (isView()) {
    <form
      [formGroup]="form"
      class="flex w-full flex-col items-end justify-start gap-4"
    >
      <div class="gap-8 gap-y-10 self-stretch">
        @for (control of viewformConfig(); track control.formControlName) {
          <div class="mb-2 flex-1">
            <app-form-control-generator
              [control]="control"
            ></app-form-control-generator>
          </div>
        }
      </div>
      <div
        class="mb-2 mt-2 grid grid-cols-1 grid-cols-2 gap-8 gap-y-4 self-stretch"
      >
        <div>
          <p class="text-base font-semibold">
            {{ t("global.start_date.title") }}
          </p>
          <div class="flex items-center">
            <fa-icon
              class="text-[#667085]"
              [icon]="faCalendarDays"
              size="sm"
            ></fa-icon>
            <p class="mx-2 text-sm text-slate-500">
              {{ form.value.startDate?.toISOString() | hesDate }}
            </p>
          </div>
        </div>
        <div>
          <p class="text-base font-semibold">
            {{ t("global.end_date.title") }}
          </p>
          <div class="flex items-center">
            <fa-icon
              class="text-[#667085]"
              [icon]="faCalendarDays"
              size="sm"
            ></fa-icon>
            <p class="mx-2 text-sm text-slate-500">
              {{ form.value.endDate?.toISOString() | hesDate }}
            </p>
          </div>
        </div>
      </div>
      <div
        class="mb-2 mt-2 grid grid-cols-1 gap-8 gap-y-4 self-stretch md:grid-cols-2"
      >
        <ion-button
          *hesRbac="semesterDeletePermission"
          hesBtn
          hesColor="secondary"
          hesSize="xl"
          (click)="onDeleteClick()"
        >
          {{ t("global.delete.btn") }}
        </ion-button>
        <ion-button
          *hesRbac="semesterUpdatePermission"
          hesBtn
          hesColor="primary"
          hesSize="xl"
          (click)="onEdit()"
          class="order-first md:order-none"
        >
          {{ t("global.edit.btn") }}
        </ion-button>
      </div>
    </form>
  } @else {
    <form
      [formGroup]="form"
      class="flex w-full flex-col items-end justify-start gap-8"
    >
      <div class="grid grid-cols-1 gap-8 gap-y-4 self-stretch md:grid-cols-2">
        @for (control of formConfig(); track control.formControlName) {
          <div class="flex-1">
            <app-form-control-generator
              [control]="control"
            ></app-form-control-generator>
          </div>
        }
      </div>
      <div
        class="mb-2 mt-2 grid grid-cols-1 gap-8 gap-y-4 self-stretch md:grid-cols-2"
      >
        <ion-button
          hesBtn
          hesColor="secondary"
          hesSize="xl"
          (click)="closeModal()"
        >
          {{ t("global.cancel.btn") }}
        </ion-button>
        <ion-button
          [disabled]="form.invalid"
          hesBtn
          hesSize="xl"
          hesColor="primary"
          (click)="onSave()"
          class="order-first md:order-none"
        >
          {{ t("global.save.btn") }}
        </ion-button>
      </div>
    </form>
  }
</div>
