<!-- password-entry.component.html -->
<div class="flex h-full flex-col" *transloco="let t">
  <form [formGroup]="passwordForm" class="flex flex-1 flex-col">
    <!-- Form Inputs -->
    <div class="mb-6 flex flex-1 flex-col space-y-6 p-4">
      <!-- National ID Input -->
      <app-ds-input
        [label]="t('global.national_id.label')"
        [placeholder]="t('global.national_id.placeholder')"
        [dsType]="'number'"
        [inputMode]="'number'"
        [errorMessage]="nationalIdError()"
        [outerContainerClass]="'w-full'"
        formControlName="nationalId"
      ></app-ds-input>

      <!-- Password Input -->
      <div class="relative">
        <app-ds-input
          [label]="t('global.password.label')"
          [placeholder]="t('global.enter_password.placeholder')"
          [dsType]="'text'"
          [inputMode]="showPassword() ? 'text' : 'password'"
          [errorMessage]="getPasswordError()"
          [outerContainerClass]="'w-full'"
          [iconEnd]="eyeIcon()"
          (iconEndClick)="togglePasswordVisibility()"
          formControlName="password"
        ></app-ds-input>
      </div>
      <!-- Forgot Password Link -->
      <div class="flex justify-end">
        <button
          type="button"
          class="text-sm font-medium text-amber-600 underline transition-colors hover:text-amber-800"
          (click)="forgotPassword()"
        >
          {{ t("login.forgot_password.title") }}
        </button>
      </div>

      <div class="mt-6">
        @if (passwordValue().length >= 8) {
          <div class="text-emerald-600">
            <app-ds-icon [icon]="faCheck"></app-ds-icon>
            <span class="ms-2">{{
              t("login.incorrect_password_msg.txt")
            }}</span>
          </div>
        } @else if (passwordValue().length < 8 && passwordValue().length > 0) {
          <div class="text-error-ds-600">
            <app-ds-icon [icon]="faWarning"></app-ds-icon>
            <span class="ms-2">{{
              t("login.incorrect_password_msg.txt")
            }}</span>
          </div>
        } @else {
          <div class="text-emphasis-high">
            <app-ds-icon [icon]="faCheck"></app-ds-icon>
            <span class="ms-2">{{
              t("login.incorrect_password_msg.txt")
            }}</span>
          </div>
        }
      </div>
    </div>
  </form>
</div>
