<div class="flex h-full flex-col" *transloco="let t">
  <div class="flex flex-1 flex-col">
    <!-- Form Inputs -->
    <form
      [formGroup]="passwordForm"
      class="mb-6 flex flex-1 flex-col space-y-6 p-4"
    >
      <!-- Password Input -->
      <app-ds-input
        [label]="t('global.password.label')"
        [placeholder]="'123456789'"
        [dsType]="'text'"
        [inputMode]="showPassword() ? 'text' : 'password'"
        [errorMessage]="getPasswordError()"
        [outerContainerClass]="'w-full'"
        [iconEnd]="passwordEyeIcon()"
        (iconEndClick)="togglePasswordVisibility()"
        formControlName="password"
      ></app-ds-input>

      <!-- Confirm Password Input -->
      <app-ds-input
        [label]="t('login.confirm_password.label')"
        [placeholder]="'123456789'"
        [dsType]="'text'"
        [inputMode]="showConfirmPassword() ? 'text' : 'password'"
        [errorMessage]="getConfirmPasswordError()"
        [outerContainerClass]="'w-full'"
        [iconEnd]="confirmPasswordEyeIcon()"
        (iconEndClick)="toggleConfirmPasswordVisibility()"
        formControlName="confirmPassword"
      ></app-ds-input>

      <div class="mt-6">
        @if (password.length >= 8) {
          <div class="text-emerald-600">
            <app-ds-icon [icon]="faCheck"></app-ds-icon>
            <span class="ms-2">{{
              "login.incorrect_password_msg.txt" | transloco
            }}</span>
          </div>
        } @else if (password.length < 8 && password.length > 0) {
          <div class="text-error-ds-600">
            <app-ds-icon [icon]="faWarning"></app-ds-icon>
            <span class="ms-2">{{
              "login.incorrect_password_msg.txt" | transloco
            }}</span>
          </div>
        } @else {
          <div class="text-emphasis-high">
            <app-ds-icon [icon]="faCheck"></app-ds-icon>
            <span class="ms-2">{{
              t("login.incorrect_password_msg.txt")
            }}</span>
          </div>
        }
      </div>
    </form>
  </div>
</div>
