<div class="flex flex-wrap gap-2">
  @for (option of options; track option.value) {
    <div
      class="cursor-pointer"
      [class.opacity-50]="disabled || option.disabled"
      [class.pointer-events-none]="disabled || option.disabled"
      [class.cursor-not-allowed]="option.disabled"
      (click)="toggleValue(option.value)"
    >
      <app-ds-chip
        [text]="option.displayedValue"
        [startIcon]="option.icon ?? null"
        [variant]="isSelected(option.value) ? 'primary' : 'default'"
        [displayType]="displayType"
        [customClasses]="
          isSelected(option.value)
            ? ''
            : 'bg-surface-secondary hover:bg-surface-tertiary'
        "
      />
    </div>
  }
</div>
