<div *transloco="let t">
  @if (courseWorkItems().length === 0) {
    <div class="flex flex-col items-center gap-ds-3xl">
      <app-ds-icon icon="ds-no-data" size="100%" />
      <div class="flex flex-col items-center">
        <div class="heading-h4-high-emphasis mb-2 text-emphasis-high">
          {{ t("no_workitem_added.title") }}
        </div>
        <div class="content-md-mid-emphasis text-emphasis-mid">
          {{ t("no_workitem.txt") }}
        </div>
      </div>
    </div>
  } @else {
    <div
      class="mt-3 grid w-full grid-cols-2 place-items-center gap-x-ds-lg gap-y-ds-lg sm:flex sm:flex-wrap"
    >
      @for (workItem of courseWorkItems(); track workItem.id) {
        <div class="md:min-w-[148px]">
          <app-course-work-item
            [workItem]="workItem"
            (userEventEmit)="onUserEvent($event)"
          />
        </div>
      }
    </div>
  }
</div>
